<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.sys.mapper.SysMenuMapper">

    <select id="canBeDeleted" resultType="java.lang.Integer">
        select sum(t1.num)
        from(
                select count(1) num from sys_menu where parent_id= #{menuId}
                union all
                select count(1) num from sys_role_menu where menu_id = #{menuId}
            )t1
    </select>
</mapper>
