<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.sys.mapper.SysRoleMapper">

    <select id="checkRoleCanDelete" resultType="java.lang.Integer">
        select count(1)
        from sys_user_role s1,sys_role_menu s2
        where s1.role_id=#{roleId} or s2.role_id=#{roleId}
    </select>
    <select id="queryByUserId" resultType="com.ws.sys.entity.SysRole">
        select *
        from sys_role s
        where s.role_id in(
            select role_id
            from sys_user_role s2
            where s2.user_id = #{userId}
            )
    </select>
</mapper>
